{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        [
            "formatjs",
            {
              "idInterpolationPattern": "[sha512:contenthash:base64:6]",
              "ast": true
            }
        ]
    ]
}