// ==========
//   Colors
// ==========

$primary:                 #7096E5;
$secondary:               #6385CB;
$text-primary:            #333;
$text-secondary:          rgba(0, 0, 0, 0.54);
$text-disabled:           rgba(0, 0, 0, 0.38);