@import '../../styles/base.scss';

$header-height: 50px;
$sidebar-normal-width: 200px;
$sidebar-collapse-width: 45px;

html {
  font-size: 10px;
}

.container {
  min-height: 100vh;
  padding: 0.1px;
  color: #333;
  background-color: rgba(218,223,225,.2);

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background-color: $primary;
  }

  .sidebar {
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: $sidebar-normal-width;

    &.collapsed {
      width: $sidebar-collapse-width;
  
      :global(.sidebar-menu .MuiMenuItem-root) {
        padding: 6px 0 6px 10px;
      }
    }
  }

  .main {
    margin-left: $sidebar-normal-width;
    margin-top: 50px;
    padding: 15px;

    &.collapsed {
      margin-left: $sidebar-collapse-width;
    }
  }
}

